<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to 'Home', action_items_path %>
  </li>
  <li class="nav-item">
    <%= link_to 'Add New Action Item', new_action_item_path %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#top">Top of Page</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Help', help_path %>
  </li>
</ul>