<nav>
    <span>
        <%= link_to 'Home', action_items_path %>
    </span>

    <span>
        <%= link_to 'Add New Action Item', new_action_item_path %>
    </span>

    <span>
        <%= link_to 'Help', help_path %>
    </span>

</nav>