<h1>Things To Do</h1>

<section class="edit">
    <h2>Edit Action Item</h2>
</section>

    <%= render 'form', action_item: @action_item %>

<section class="edit">
    <%= link_to 'View', @action_item %> |
    <%= link_to 'Back', action_items_path %>
</section>