<div class="container">

    <section class="edit">
        <h2>Edit Action Item</h2>
    </section>

        <%= render 'form', action_item: @action_item %>

    <section class="edit_links">
        <%= link_to 'View this Action Item', @action_item %>
    </section>
    
</div>