<div class="container">
    <h1>Things To Do</h1>

    <p>Thank you for using the 'Things To Do' app. </p>

    <p>This app has been built with Ruby on Rails and deployed through Heroku.</p> 

    <p>If you have any comments or suggestions or if you need to report a bug, please visit:</p>

    <section class='github_link'>
        <%= link_to 'https://github.com/katherine-rock/todolist_app/issues', 'https://github.com/katherine-rock/todolist_app/issues' %>
    </section>

    <br>

    <%= render partial: "shared/navbar"  %>
</div>
