<h1>Things To Do</h1>

<section class="add">
    <h2>Add New Action Item</h2>
</section >

    <%= render 'form', action_item: @action_item %>

<section class="add">
    <%= link_to 'Back', action_items_path %>
</section >
